
  
  /*----------------main-wrapper----------------*/


  .main-wrapper {
    top: 42px;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    
    overflow-y: auto;
    position: fixed;
  }

  .main-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
  }
  
  .main-wrappe .theme.chiller-theme {
    background: #1e2229;
  }

  /*-------------------- toggeled sidebar ----------------------*/
  .main-wrapper.toggled .sidebar-wrapper {
    left: 0px;
  }
  
  @media screen and (min-width: 768px) {
    .main-wrapper.toggled .page-content {
      padding-left: 300px;
    }
  }

  /*-------------------- toggled ----------------------*/
  @media screen and (max-width: 600px) {
    .main-wrapper.toggled .navbar.top .brand {
      display: none;
    }
  }

  .main-wrapper.toggled .navbar.top .brand {
    display: inline-flex;
  }

  /*-------------------- navbar top ----------------------*/

  .navbar.top {
    position: fixed;
    display: inline-flex;
    top: 0px;
    left: 0px;
    padding: 0px;
    z-index: 999;
  }

  .navbar.top.size {
    width: 100%;
    height: 42px;
  }


/*-------------------- navbar top brand ----------------------*/
  
  .navbar.top .brand {
    padding: 10px 20px;
    height: 100%;
    align-items: center;
    width: 260px;
    display: none;
  }

  .navbar.top .brand a > span {
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: bold;
    flex-grow: 1;
  }

  .navbar.top .brand .icon {
    width: 20px;
    height: 20px;
  }


  /*-------------------- navbar top content ----------------------*/
  .navbar.top .content {
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  
  /*-------------------- navbar items ----------------------*/  
  .navbar .items {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  .navbar .items.left {
    float: left;
  }

  .navbar .items.right {
    float: right;
  }

  .navbar .items .item {
    top: 0px;
    display: inline-block; 
    align-items: center;
  }

  .navbar .items .item.size {
    height: 100%;
  }

  .navbar .items .item.icon {
    width: 50px;
  }

  .navbar .items .item.avatar {
    width: 120px;
  }

  .navbar .items .item .nav-link {
    display: inline-block;
    position: relative;
    padding: 0px;
    line-height: 42px;
    width: 100%;
    text-align: center;
  }
  
  /*-------------------- navbar top items ----------------------*/  
  .navbar.top .items.size {
    height: 100%;
  }
  
  .navbar.top .items .item.avatar span {
    display: inline-block;
    position: relative;
    padding: 0px 5px;
    height: 100%;
    top: 0px;
    margin: 0px;
  }

  .navbar.top .items .item.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 1000px;
  }

  .navbar.top .items .item.avatar .online > i {
    position: absolute;
    border-radius: 15px;
    border: 2px solid #fff;
    right: 3px;
    bottom: 3px;
    width: 10px;
    height: 10px;
  }

  .navbar.top .items .item.avatar .online > i {
    background-color: #11c26d;
  }

  .badge.up {
    position: relative;
    top: -10px;
    margin: 0 -.8em;
    border-radius: 15px
  }

  /*-------------------- navbar top items dropdown ----------------------*/  
  .navbar.top .items .item .dropdown {
    position: absolute;
    z-index: 1200;
    display: none;
    flex-direction: column;

    box-shadow: 0 3px 12px rgba(0,0,0,.05);
    transition: .25s;
    margin-top: 3px;
    margin-right: 3px;
  }


 

  .navbar.top .items .item .dropdown.basic.show {
    display: inline-flex;
  }

  .navbar.top .items .item .dropdown.basic {
    width: 200px;
    
  }

  .navbar.top .items .item .dropdown.media.show {
    display: flex;
  }

  .navbar.top .items .item .dropdown.media {
    width: 400px;
    height: 300px;
  }

  .navbar.top .items .item .dropdown.right {
    right: 0px;
    left: auto;
  }


  /*-------------------- navbar top items dropdown header and footer ----------------------*/  
  .navbar.top .items .item .dropdown 
  .header, .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar.top .items .item .dropdown 
  .header.size, .footer.size {
    height: 50px;
    width: 100%;
  }
  
  /*-------------------- navbar top items dropdown header ----------------------*/  
  .navbar.top .items .item .dropdown 
  .header {
    border-bottom: 1px solid #e4eaec;
  }
  

  .navbar.top .items .item .dropdown 
  .header h5 {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;

    padding: 15px 20px!important;
    
    display: inline-block;
    flex-grow: 1;
  }

  .navbar.top .items .item .dropdown 
  .header span {
    display: inline-block;
    margin-right: 10px;
    height: 15px;
  }

   /*-------------------- navbar top items dropdown footer ----------------------*/  
   .navbar.top .items .item .dropdown 
   .footer {
     border-top: 1px solid #e4eaec;
   }
 
   .navbar.top .items .item .dropdown .footer .item {
     flex-grow: 1;
   }
 
   .navbar.top .items .item .dropdown .footer>a {
     padding: 15px 20px!important;
     margin: 0;
   }
   
  /*-------------------- navbar top items dropdown container ----------------------*/  
  .navbar.top .items .item .dropdown 
  .container
  {
    flex-grow: 1;
    overflow-y: auto; 
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  .navbar.top .items .item .dropdown 
  .container .content
  {
    display: block;
    width: 100%;
  }

  /*-------------------- navbar dropdown group ----------------------*/  
  .navbar.top .items .item .dropdown .group
  {
    position: relative;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    border: none;
    border-radius: 0!important;
  }

  /*-------------------- navbar dropdown media ----------------------*/  
  .navbar.top .items .item .dropdown 
  .group:first-child .media
  {
    border-top: none;
  }

  .navbar.top .items .item .dropdown .media
  {
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    border-top: 1px solid #e4eaec;
  }

  
  
  .dropdown .media .body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .dropdown .media .heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13px;
  }

  .dropdown .media .meta {
    margin-bottom: 3px;
    font-size: 10px;
    color: #a3afb7;
  }

  .dropdown .media .detail {
    margin-bottom: 3px;
    font-size: 12px;
    color: #a3afb7;
  }

  /*-------------------- navbar dropdown icon ----------------------*/  
  .dropdown .icon {
    padding: 0px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 25px;
    height: 25px;
  }

  .dropdown .icon.circle {
    border-radius: 1000rem;
    line-height: 25px;
  }

  

  /*-------------------- navbar top items dropdown footer item ----------------------*/  
  
  .navbar.top .items .item .dropdown .footer .item {
    font-size: 13px;
  }

  .navbar.top .items .item .dropdown .footer .item-button {
    display: inline-block;
    position: relative;
    padding: 0px;
    text-align: center;
    width: 50px;
    height: 50px;
  }


  /*-------------------- avatar ----------------------*/  
  .avatar {
    display: inline-block;
    position: relative;
    padding: 0px 5px;
    height: 100%;
    top: 0px;
    margin: 0px;
  }

  .avatar.sm img {
    width: 30px;
    height: 30px;
  }

  .avatar.md img {
    width: 40px;
    height: 40px;
  }

  .avatar img {
    border-radius: 1000px;
  }

  .avatar > i {
    position: absolute;
    border-radius: 15px;
    border: 2px solid #fff;
    right: 2px;
    bottom: 2px;
    width: 12px;
    height: 12px;
  }

  .avatar.online > i {
    background-color: #11c26d;
  }

  /*-------------------- badge ----------------------*/  
  .badge {
    font-size: 60%!important; 
    font-weight: 500!important;
  }

  .badge.icon {
    height: 17px;
    width: 17px;
    border-radius: .80rem!important;
    line-height: 17px!important;
  }

  .badge.list {
    line-height: 13px!important;
    border-radius: .80rem!important;
  }

  

  /*-------------------- commons : css ----------------------*/  
  .pr-10 {
    padding-right: 10px!important;
  }

  .show {
    display: block;
  }

  /*-------------------- common : colors ----------------------*/  
  .white {
    color: #fff!important;  
  }
  
  .bg-red-600 {
    background-color: #ff4c52!important;
  }

  .bg-green-600 {
    background-color: #11c26d!important;
  }

  .bg-blue-600 {
    background-color: #3e8ef7!important;
  }

  .bg-orange-600 {
    background-color: #eb6709!important;
  }

  /*-------------------- theme: chiller ----------------------*/  
  
  .chiller-theme .sidebar-wrapper {
      background: #31353D;
  }
  
  .chiller-theme .navbar.top {
    background: #31353D;
  }
  
  .chiller-theme .navbar.top .brand a:hover, 
  .chiller-theme .navbar.top .brand a:link, 
  .chiller-theme .navbar.top .brand a:visited,
  .chiller-theme .navbar.top .items a:hover, 
  .chiller-theme .navbar.top .items a:link, 
  .chiller-theme .navbar.top .items a:visited {
      color: #b8bfce;
  }

  .chiller-theme .navbar.top .items .item .nav-link:hover {
    background: #1e2229;
  }

  .chiller-theme .navbar.top .items .item .dropdown {
    color: #76838f;
    background-color: #fff;
    border: 1px solid #e4eaec;
  }

  .chiller-theme .navbar.top .items .item .dropdown .header {
    background-color: #fff;
  }

  .chiller-theme .navbar.top .items .item .dropdown .footer>a:hover {
    background-color: transparent!important;
    color: #7d8efa!important;
  }

  .chiller-theme .navbar.top .dropdown .footer {
    background-color: #f3f7f9;
  }

  .chiller-theme .navbar.top .dropdown .group:hover {
    color: #76838f;
    background-color: #f3f7f9;
  }

  .chiller-theme .navbar.top .dropdown .item:hover {
    color: #76838f;
    background-color: #f3f7f9;
  }